
<h1>Search Results</h1>
<div id="searchwrap">
    <form id="search-form" name="Podcasts" action="/categories" method="get">
        <input id="search-input" name="search" type="text">
        <button type="submit">Search</button>
    </form>
</div>

<div class="results">
    <table>
        <tr>
            <th></th>
            <th>Results</th>
        </tr>
        <% podcastResults.forEach(function(podcastResults) { %>
            <tr>
                <td>
                    
                    <form method="POST" action="/podcasts">
                        <input hidden value="<%= podcastResults.title_original %>" type="text" name="podcastName">
                        <input hidden value="<%= podcastResults.audio %>" type="text" name="podcastUrl">
                        <button type="submit">Save</button>
                    </form>
                </td>
                <td>
                    <a href="<%= podcastResults.audio %>">
                        <%= podcastResults.title_original %>
                    </a>
                </td>
            </tr>
            <% }); %>
        </table>
    </div>
    <div class="container">
        <h1 class="text-center">Your Podcast Categories</h1>
        <div class="createCategories">
            
            <form method="POST" action="/categories">
                <input type="text" name="category">
                <button type="submit">Create Category</button>
            </form>
            
        </div>
        <table>
            <tr>
                <th>Categories</th>
            </tr>
            <% categories.forEach(function(category) { %>
                <tr>
                    <td>
                        
                        <a href="/categories/<%= category.id %>"><%= category.name %></a>
                        <% if (category.podcasts) {%>
                            <% category.podcasts.forEach(function(catPodcast) { %>
                                <div>
                                    <%= catPodcast.podcastName %>
                                </div>
                                <% })%>
                                <% }%>
                            </td>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            </div>