<h1>Saved Podcasts</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Add to</th>
        <th></th>
    </tr>
<% podcasts.forEach(function(podcast) { %>
    <tr>
        <td>
            <a href="<%= podcast.podcastUrl%>">
                <%= podcast.podcastName %>
            </a>
        </td>

        <form method="POST" action="/categoriesPodcasts">
            <input hidden value="<%= podcast.id %> " type="text" name="podcastId">
            <td>
                <select id="categoryId" name="categoryId">
                    <% categories.forEach(function(category) { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <%}) %>
                </select>
            </td>

            <td>
                <button type="submit">Submit</button> 
            </td>
        </form>
        <td>
            <form method="post" action="/podcasts/<%=podcast.id%>?_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
        </tr>    
    <% }); %>
</table>